body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    margin: 10px;
    font-weight: 400;
}

div:nth-child(odd) {
    width: 75%;
}

div:nth-child(even) {
    width: 50%;
}

div {
    height: 150px;
    background: #C4C4C4;
}

.h1 {
    font-size: 3.500em
}

.h2,
.h2_block2,
.h2_block4 {
    font-size: 2.625em;
}

.h3_block2,
.h3_block4 {
    font-size: 1.750em;
}

.h2_block3 {
    font-size: 1.500em;
}

/* hover */
.block1:hover,
.block2:hover,
.block3:hover,
.block4:hover {
    height: 100%;
}

.h1:hover {
    font-size: 7.000em
}

.h2:hover,
.h2_block2:hover,
.h2_block4:hover {
    font-size: 5.250em;
}

.h3_block2:hover,
.h3_block4:hover {
    font-size: 3.500em;
}

.h2_block3:hover {
    font-size: 3.000em;
}

.h3_block3:hover {
    font-size: 2.000em;
}